* {
  padding: 0;
  margin: 0;
}

.searchPage{
  display: flex;
  flex-direction: row;
} 

.searchPage .searchBar{
  width: 300px;
  padding: 10px 15px;
  margin: 20px;
  border: 2px solid rgb(129, 129, 129);
  border-radius: 8px;
}

.spacing{
  margin-bottom: 20px;
}

.searchPage .searchBar .row{
  display: flex;
}

.searchPage .searchBar span{
  padding: 0 4px;
}

/*
body {
  margin: 0;
  padding: 0;
}
.homeScreen_products {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.homeScreen_products h3 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(66, 47, 47);
  padding: 0;
  margin: 10px 20px;
}

.productHolder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 10px 10px;
  padding: 20px;
}

.items {
  display: flex;
  width: 100%;
  margin: 10px;
  padding: 0;
} */

.search_productHolder{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px;
}

@media(max-width:1185px){
  .productCard{    
    width: 200px;
    height: 220px;
    
   }
   
.productCardHeader p{  
    font-size: 11px;
}

    .productCardBody p{    
        font-size: 12px;
       
    }
    .productCardBody span svg{
        font-size: 14px;
    }
        
    .productImageHolder img{      
        width: 90%;
        height: 90%;
    
       
    }
    
.search_productHolder{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px;
}
}


@media(max-width:855px){
  .productCard{    
    width: 170px;
    height: 200px;
    
   }
   
.productCardHeader p{  
    font-size: 10px;
}

    .productCardBody p{    
        font-size: 11px;
       
    }
    .productCardBody span svg{
        font-size: 12px;
    }
        
    .productImageHolder img{      
        width: 90%;
        height: 90%;
    
       
    }
    
.search_productHolder{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px;
}
}



@media(max-width:785px){
  .productCard{    
    width: 170px;
    height: 200px;
    
   }
   
.productCardHeader p{  
    font-size: 10px;
}

    .productCardBody p{    
        font-size: 11px;
       
    }
    .productCardBody span svg{
        font-size: 12px;
    }
        
    .productImageHolder img{      
        width: 90%;
        height: 90%;
    
       
    }
    
.search_productHolder{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px;
}
}





@media(max-width:580px){
  .productCard{    
    width: 170px;
    height: 200px;
    
   }
   
.productCardHeader p{  
    font-size: 10px;
}

    .productCardBody p{    
        font-size: 11px;
       
    }
    .productCardBody span svg{
        font-size: 12px;
    }
        
    .productImageHolder img{      
        width: 90%;
        height: 90%;
    
       
    }
    
.search_productHolder{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.searchPage{
  display: flex;
  flex-direction: column;
} 
.searchPage .searchBar{
  width: 100%;
  padding: 10px;
  margin: 0;
  border-radius: 8px;
}


}

@media(max-width:515px){
      
.search_productHolder{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px;
}


}