body{
    padding: 0;
    margin: 0;
}

.wishlistItem{
    display: flex;
    width: 100%;
    height:  50px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
   
}
.wishlistItemHolder{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0px 15px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.436);

 
}

.wishlistItem_img{
    display: flex;
    flex: 1;
    padding: 4px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    object-fit: contain;
}
.wishlistItem_brand,
.wishlistItem_name
{
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    
}

.wishlistItem_date{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
 
}

.wishlistItem_name p,
.wishlistItem_brand p ,
.wishlistItem_date p{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding: 0;
    align-items: center;
    justify-content: center;
}




.wishlistItem_delete_btn,
.wishlistItem_addToCart_btn{
    display: flex;
    flex: 0.3;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background: none;
    align-items: center;
    justify-content: center;
    border: none;
    
}

.wishlistItem_delete_btn svg{
    font-size: 18px;
    color: red;
    cursor: pointer;
    transform: 0;
}
.wishlistItem_delete_btn svg:hover,
.wishlistItem_addToCart_btn svg:hover{
    transform: scale(1.2);
    transition: all ease 0.4s;
    font-weight: bold;
}
.wishlistItem_addToCart_btn svg{
    font-size: 18px;
    color: blue;
    cursor: pointer;
    transform: 0;
}



@media(max-width: 750px){
    .wishlistItemHolder{
       
        width: 95%;
   
    }
    
    .wishlistItem_img{       
        width: 45px;
        height: 45px;
        
    } 
    
      
    .wishlistItem_name p,
    .wishlistItem_brand p ,
    .wishlistItem_date p{
        font-size: 11px;
        
    }
    .wishlistItem_addToCart_btn svg{
        font-size: 16px;
     
    }
    .wishlistItem_delete_btn svg{
        font-size: 16px;
        
    }
    
    
}

@media(max-width:500px){
    .wishlistItemHolder{
       
        width: 100%;
   
    }
    
    .wishlistItem_img{       
        width: 40px;
        height: 40px;
        
    } 
    
      
    .wishlistItem_name p,
    .wishlistItem_brand p ,
    .wishlistItem_date p{
        font-size: 10px;
        
    }
    .wishlistItem_addToCart_btn svg{
        font-size: 14px;
     
    }
    .wishlistItem_delete_btn svg{
        font-size: 14px;
        
    }
    
}

@media(max-width:410px){
    .wishlistItemHolder{       
        width: 100%;
   
    }
    
    .wishlistItem_img{       
        width: 30px;
        height: 30px;
        
    } 
    
      
    .wishlistItem_name p,
    .wishlistItem_brand p ,
    .wishlistItem_date p{
        font-size: 8px;
        
    }
    .wishlistItem_addToCart_btn svg{
        font-size: 12px;
     
    }
    .wishlistItem_delete_btn svg{
        font-size: 12px;
        
    }
    
}