body{
    padding: 0;
    margin: 0;

}


.wishlistContainer{
    padding: 0;
    margin: 0;
    width: 100%;
}
.wishlistWrapper{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.wishlistTabel{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
.wishlistTabelHolder{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 3px auto;
    border-bottom: 1px solid rgb(227, 220, 220);
    border-top: 1px solid rgb(227, 220, 220);
}